*{margin: 0;padding: 0;text-decoration: none;list-style: none;}
header{
    width: 100%;
    height: 56px;
    background-color: #000;
}
.header-container{
    width: 1000px;
    height: 56px;
    margin:0 auto;
}
.header-container .container-left{
    width: 100px;
    height: 48px;
    padding-top: 8px;
    float: left;
}
.header-container .container-left a{
    display: block;
    width: 96px;
    height: 39px;
    background-image: url("../../images/header/header-1.png");
    background-size: 96px 39px;
}
.header-container .container-left a:hover{
    background-image: url("../../images/header/header-2.png");
}

#content{
    width: 100%;
    height: 350px;
}
.content-container{
    width: 1000px;
    height: 350px;
    margin:0 auto;
}
.product {
    width: 350px;
    height: 350px;
    margin-top: 20px;
    float: left;
}
.smallPic {
    position: relative;
    width: 350px;
    height: 350px;
    border: 2px solid #000;
}
#smallPic img{
    width: 350px;
    height: 350px;
}
.smallPic .zoom {
    position: absolute;
    width: 175px;
    height: 175px;
    top: 100px;
    left: 100px;
    background-color: #FEDE4F;
    opacity: 0.5;
    filter: alpha(opacity=50);
    border: 1px solid #aaa;
    display: none;
}
.bigPic {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 55px;
    left: 550px;
    border: 2px solid #000;
    display: none;
    z-index: 999;
    background-color: #d7d3d3;
}
.content-container .container-right{
    float: right;
    width: 600px;
    height: 340px;
    margin-top: 30px;
}
.content-container .container-right h1{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 10px;
}
.content-container .container-right p{
    width: 80%;
    height: 60px;
    font-size: 16px;
    line-height: 25px;
    color: #000;
}
.content-container .container-right b{
    color: #ff1f09;
    font-size: 16px;
}
.content-container .container-right b span{
    margin-right: 20px;
    color: #000;
    font-weight: 100;
}
.content-container .container-right .quantity{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}
.content-container .container-right .quantity button{
    width: 30px;
    height: 30px;
    background-color: #000;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}
.content-container .container-right .quantity span{
    color: #ff1f09;
}
.content-container .container-right .site{
    margin-bottom: 20px;
}
.content-container .container-right .shop{
    width: 50%;
    height: 50px;
    overflow: hidden;
}
.content-container .container-right .shop a{
    float: left;
    display: block;
    width: 130px;
    height: 40px;
    background-color: #000;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
}
.content-container .container-right .shop button{
    width: 130px;
    height: 40px;
    float: right;
    background-color: #000;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
}